<div class="contenedor">
  <div class="row gap-3">
    <button (click)="exportarExcel()">Exportar a Excel</button>
    <div class="planes col-12 col-md-6">
      <button mat-button (click)="openModal(false); editCuenta=false">Agregar Cuenta</button>

      <mat-tree #tree  [dataSource]="dataNodes" [treeControl]="treeControl">
        <mat-tree-node 
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          
          [cdkTreeNodeTypeaheadLabel]="node.name"
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            (click)="cargarHijos(node)"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>
          <p (click)="obtenerCuenta(node.id)">{{ node.cuenta.texto }}</p>
          <button class="ms-2" (click)="openModal(false, node);" >+</button>

          <button class="ms-2" mat-icon-button (click)="openModal( true, node);">
            <mat-icon>edit</mat-icon>
          </button>
         
        </mat-tree-node>
      </mat-tree>
    </div>

    <div class="cuenta-detalle col-12 col-md-5">

      <h2>Información de Cuenta Contable</h2>
      <form>
          <div class="mb-3">
              <label for="grupo" class="form-label">Grupo</label>
              <input type="text" class="form-control" id="grupo" value="{{cuenta.cuenta_grupo}}" readonly>
          </div>
          <div class="mb-3">
              <label for="cuentaPadre" class="form-label">Cuenta Padre</label>
              <input type="text" class="form-control" id="cuentaPadre" value="{{cuenta.cuenta_codigopadre}} {{cuenta.cuenta_padredescripcion}}" readonly>
          </div>
          <div class="mb-3">
              <label for="codigo" class="form-label">Código</label>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigopadre}}" readonly>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigonivel}}" readonly>
          </div>
          <div class="mb-3">
              <label for="descripcion" class="form-label"></label>
              <input type="text" class="form-control" id="descripcion" value="{{cuenta.cuenta_descripcion}}" readonly>
          </div>
      </form>
    </div>


  
  </div>
</div>


@if(isModalOpen){
  <!-- Modal de Angular Material -->
  <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>Agregar Cuenta</h2>
        <button class="close-btn" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cuentaForm" (ngSubmit)="guardarCuenta()">
          <div class="mb-3">
            <label for="codigoNivel" class="form-label">Código Nivel</label>
            <input readonly type="text" id="codigoNivel" formControlName="cuenta_codigonivel" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" id="descripcion" formControlName="cuenta_descripcion" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="naturaleza" class="form-label">Naturaleza</label>
            <select id="naturaleza" formControlName="cuenta_esdebito" class="form-control">
              <option [value]="true">Débito</option>
              <option [value]="false">Crédito</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

}
