<div class="contenedor">
  <div class="row gap-3">
    <div class="planes col-12 col-md-6">
      <mat-tree #tree  [dataSource]="dataNodes" [treeControl]="treeControl">
        <mat-tree-node (click)="obtenerCuenta(node.id)"
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          matTreeNodeToggle
          [cdkTreeNodeTypeaheadLabel]="node.name"
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            (click)="cargarHijos(node)"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ tree.isExpanded(node) ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>
          {{ node.name }}
         
        </mat-tree-node>
      </mat-tree>
    </div>

    <div class="cuenta-detalle col-12 col-md-5">

      <h2>Información de Cuenta Contable</h2>
      <form>
          <div class="mb-3">
              <label for="grupo" class="form-label">Grupo</label>
              <input type="text" class="form-control" id="grupo" value="{{cuenta.cuenta_grupo}}" readonly>
          </div>
          <div class="mb-3">
              <label for="cuentaPadre" class="form-label">Cuenta Padre</label>
              <input type="text" class="form-control" id="cuentaPadre" value="{{cuenta.cuenta_codigopadre}} {{cuenta.cuenta_padredescripcion}}" readonly>
          </div>
          <div class="mb-3">
              <label for="codigo" class="form-label">Código</label>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigopadre}}" readonly>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigonivel}}" readonly>
          </div>
          <div class="mb-3">
              <label for="descripcion" class="form-label"></label>
              <input type="text" class="form-control" id="descripcion" value="{{cuenta.cuenta_descripcion}}" readonly>
          </div>
      </form>
    </div>


  
  </div>
</div>
