<div class="contenedor">
  <div class="row gap-3">
    <button (click)="exportarExcel()">Exportar a Excel</button>
    <div class="planes col-12 col-md-6">
      <button mat-button (click)="editCuenta=false;cuentaSeleccionada=null;  openModal(modalPlanCuenta)">Agregar Grupo</button>

      <mat-tree #tree  [dataSource]="dataNodes" [treeControl]="treeControl" class="list-group">
        <mat-tree-node class="list-group-item d-flex align-items-center node-item"
        
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          
          [cdkTreeNodeTypeaheadLabel]="node.name"

        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
            (click)="cargarHijos(node)"
            [disabled]="!node.expandable"

          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{ node.expanded ? "expand_more" : "chevron_right" }}
            </mat-icon>
          </button>
          <p (click)="obtenerCuenta(node.id)">{{ node.cuenta.texto }}</p>
          <button class="ms-2" (click)="editCuenta=false; cuentaSeleccionada=node; openModal(modalPlanCuenta);" >+</button>

          <button class="ms-2" mat-icon-button (click)="editCuenta=true; cuentaSeleccionada=node; openModal(modalPlanCuenta);">
            <mat-icon>edit</mat-icon>
          </button>

          <button class="ms-2" mat-icon-button (click)="eliminarCuenta(node.cuenta);">
            <mat-icon>delete</mat-icon>
          </button>
         
        </mat-tree-node>
      </mat-tree>
    </div>

    <div class="cuenta-detalle col-12 col-md-5">
      <h2>Información de Cuenta Contable</h2>
      <form>
          <div class="mb-3">
              <label for="grupo" class="form-label">Grupo</label>
              <input type="text" class="form-control" id="grupo" value="{{cuenta.cuenta_grupo}}" readonly>
          </div>
          <div class="mb-3">
              <label for="cuentaPadre" class="form-label">Cuenta Padre</label>
              <input type="text" class="form-control" id="cuentaPadre" value="{{cuenta.cuenta_codigopadre}} {{cuenta.cuenta_padredescripcion}}" readonly>
          </div>
          <div class="mb-3">
              <label for="codigo" class="form-label">Código</label>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigopadre}}" readonly>
              <input type="text" class="form-control" id="codigo" value="{{cuenta.cuenta_codigonivel}}" readonly>
          </div>
          <div class="mb-3">
              <label for="descripcion" class="form-label"></label>
              <input type="text" class="form-control" id="descripcion" value="{{cuenta.cuenta_descripcion}}" readonly>
          </div>
      </form>
    </div>


  
  </div>
</div>

<ng-template #modalPlanCuenta let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ editCuenta ? 'Editar Cuenta': 'Cuenta Nueva' }}
    </h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" ></button>
  </div>
  <div class="modal-body">
    <app-modal-cuenta
    [editMode]="editCuenta"
    [cuenta]="cuentaSeleccionada?.cuenta ??null"
    [codigoNivel]="codigoNivel"
    (submitForm)="cargarResultados($event);
    modal.dismiss('Cross click')"
    >
    </app-modal-cuenta>
  </div>
</ng-template>